.modal{
    width: 10rem;
    height: 100%;

    font-size: 1.4rem;
    padding: 1rem 0 0 1rem;

    position:fixed;
    right: 0;

    background-color: rgb(73, 48, 0);
    color: rgb(255, 248, 236);
    z-index: 1; 
}

#open_modal{
    cursor: pointer;
}

#close_modal{
    cursor: pointer;
}

.modal ul{
    padding-top: 1rem;
    color: rgb(255, 248, 236);
}

.modal li{
    margin-right: 0.7rem;
    color: rgb(255, 248, 236);
    cursor: pointer;
}
.modal li:hover{
    background-color:rgb(255, 248, 236) ;
    color:  rgb(73, 48, 0);
}

.hidden {
    display: none;
}