* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    align-items: center;
    background-color: rgb(73, 48, 0);
    font-size: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: beige;
    z-index: 1; 
}

nav {
    position: fixed;
    display: flex;
    flex-direction: column;

    top: 40%; 
    margin: 1rem;
    padding: 1.5rem;

    background-color: rgb(73, 48, 0);
    color: beige;
    border-radius: 0.8rem;
    z-index: 1; 
}

ul li {
    list-style: none;
}

a {
    text-decoration-line: none;
  }

  a:visited {
    color : rgb(250, 250, 207);
    text-decoration: none;
  }

  a:hover{
    background-color: beige;
    color:rgb(73, 48, 0);
  }

  main {
    width: 75vw;
    position: sticky;
    left: 300px;
    right: 300px;

    display: flex;
    flex-direction: column;
}

.heart{
    width: 1rem;
    height: 1rem;
}

.product_card {
    position: relative;
}

.product_img{
    width: 10rem;
    height: 10rem;
}

.product_card{
    flex-wrap: wrap;
    display: flex;
    position: relative;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid rgb(73, 48, 0);
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.2rem;
    text-align: center;
}

footer {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 48, 0);
    color: beige;
    clear: both; 
}

.slider{
    display: flex;
}

.banner{
    width: 8rem;
    height: 8rem;
}

/* hover 애니메이션*/

@keyframes productmove{
    0%,100%{
        transform:scale(1.05);
    }
    50%{
        transform:scale(1);
        box-shadow: 0 0 30px rgb(243, 181, 37);
    }
}

.product:hover{
    animation:productmove 5s infinite linear;
}

/*무한 배너*/
@keyframes rolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.slider .slide-track {
    animation: rolling 20s linear infinite;
    display: flex;
    width: calc(100% * 14);
}


.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}



.slider {
    height: auto;
}

.slide-track {
    height: auto;
    animation: rolling 50s linear infinite;
}
.product_card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

@media screen and (max-width: 900px){
    .product {
        width: 12rem;
        height: 15rem;
    }
    .product_img {
        width: 12rem;
        height: 9rem;
    }
    .product :first-child {
        width: 200px;
    }
}

@media screen and (max-width: 742px) {
    .product {
        width: 15rem;
        height: 20rem;
    }
    .product_img {
        width: 20rem;
        height: 17rem;
    }
    .product :first-child{
        width: 250px;
    }
}

